PrismMasterDetailSample/PrismMasterDetailSample/PrismMasterDetailSample.Windows/obj/Debug/XamlSaveStateFile.xml
*.xml
PrismMasterDetailSample/PrismMasterDetailSample/PrismMasterDetailSample.Windows/obj/Debug/XamlSaveStateFile.xml
*.csproj